name: Continuous Delivery

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'Dockerfile'
      - '.github/workflows/continuous-delivery.yml'
  
permissions:
  contents: read
  packages: write

env:
  # Uses docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  REPOSITORY_NAME: ${{ github.event.repository.name }}

jobs:
  Publish:
    name: Publish image to GHCR
    runs-on: ubuntu-latest
    outputs:
      deploy_tag: ${{ steps.save_tag.outputs.tag }}
    steps:
      - name: Checkout Project
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
        with:
          submodules: true
          
      - name: Extract version from package.json
        id: package_version
        uses: saionaro/extract-package-version@35ced6bfe3b1491af23de4db27c601697e6d8d17 # v1.3.0
        
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Extract metadata for Docker images
        id: meta
        uses: docker/metadata-action@b2391d37b4157fa4aa2e118d643f417910ff3242 # v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=raw,value=${{ steps.package_version.outputs.version }}
            type=raw,value=${{ steps.package_version.outputs.version }}.${{ github.run_number }}
            type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a # tag=v2.10.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            "DOPPLER_TOKEN=${{ secrets.DOPPLER_TOKEN }}"
            "GITHUB_PAT=${{ secrets.GH_TOKEN }}"

      - name: Save image tag for use in deploy job
        id: save_tag
        run: echo "::set-output name=tag::${{ steps.package_version.outputs.version }}.${{ github.run_number }}"
      
  Deploy:
    name: Deploy using Docker
    needs: [Publish]
    uses: bitomic/utilities/.github/workflows/docker-deploy.yml@f697a9da1a137cbdb6e716a71305813c27b6fbe8
    secrets:
      DOCKER_NETWORK: "${{ secrets.DOCKER_NETWORK }}"
      DOPPLER_TOKEN: "${{ secrets.DOPPLER_TOKEN }}"
      GHCR_TOKEN: "${{ secrets.GHCR_TOKEN }}"
      GHCR_USER: "${{ secrets.GHCR_USER }}"
      SSH_HOST: "${{ secrets.SSH_HOST }}"
      SSH_PRIVATE_KEY: "${{ secrets.SSH_PRIVATE_KEY }}"
      SSH_USER: "${{ secrets.SSH_USER }}"
